.main {
    background-color: #333;
    margin: 0px auto;
    max-width: 480px;
}

.ambassador-dialog {
    background-color:cyan;
    border-bottom-left-radius:25px;
    border-bottom-right-radius: 25px;
    padding:5px;
    padding-bottom:20px;
}

.ambassador-avatar {
    display:inline-block;
    /*background-image: url("/img/circle1.png");*/
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    border-radius:12px;
    width:100px;
    height:100px;
}

.ambassador-text {
    display:inline-block;
    /*height:100px;*/
}

#planet-radar {
    background-image: url("/img/background.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 25px;
    width:100%;
}

.resources-title {
    padding:0px 15px;
}

.resource-list {
    background-color:cyan;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-top:10px;
    min-height: 100px;
}

.resource-card {
    background-color:#2a0040;
    background-size:cover;
    background-position:center;
    border: 3px solid black;
    border-radius:20px;
    margin:5px;
    width:60px;
    height:80px;
    display:inline-block;
}

.resource-card.food {
    background-image:url("/img/resources/food.png");
}

.resource-card.medicine {
    background-image:url("/img/resources/medicine.png");
}

.resource-card.oxygen {
    background-image:url("/img/resources/oxygen.png");
}

.resource-card.money {
    background-image:url("/img/resources/money.png");
}

.resource-pic {
    border: 1px solid black;
    width: 40px;
    height:40px;
    margin:5px;
}

.selected {
    border: 3px solid red;
}

.assets {
    /*display: none;*/
}