<!-- HTML Template -->
<div class="main">
    <div class="ambassador-dialog">
        <div class="ambassador-avatar"></div>
        <div class="ambassador-text text-right">ambassador text</div>
    </div>
    <canvas id="planet-radar" width=300 height=300></canvas>
    <div class="resource-list">
        <div class="resources-title player-name">Resources - <span id="player-name">Change Name</span></div>
        <div class="resource-cards">
            <div class="resource-card"><div class="resource-pic">pic</div><div class="resource-quantity">1</div></div>
            <div class="resource-card">
                <div class="resource-pic">pic</div>
                <div class="resource-quantity">1</div>
            </div>
        </div>

    </div>
</div>
